.forgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.forgotPassword > form {
  width: 380px;
}

.forgotPassword__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
